/* Base styles */
body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(52, 42, 42);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Book-specific styles */
.book {
    border: 1px solid #ccc;
    padding: 20px;
}

.book h2 {
    margin-top: 0;
}

.book p {
    margin-bottom: 10px;
}

/* Category-specific styles */
.book-list {
    list-style: none;
    padding: 0;
}

.book-list li {
    margin-bottom: 10px;
}

.book-list li a {
    color: #0070c0;
    text-decoration: none;
}

.book-list li a:hover {
    text-decoration: underline;
}
