<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>My Book Review Site</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    {% for category in categories %}
                        <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="q" placeholder="Search books...">
            <button type="submit">Search</button>
        </form>
          
    </nav>

    <div >
        <!-- This is where your individual page content will go -->
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
