{% if books %}
  <div class="book-container">
    {% for book in books %}
      <div class="book"  >
        <a href="{% url 'book_detail' book_id=book.book_id %}">
        <div class="book-thumbnail">
          <img src="{{ book.thumbnail }}" alt="Book Thumbnail" style="width: 100px; height: 150px; object-fit: cover;">
        </div>
        </a>
        <a href="{% url 'book_detail' book_id=book.book_id %}">
        <div class="book-details" style="margin-left: 20px;padding: 5px;">
          <h4 style="margin-top: 0; margin-bottom: 5px;color: #333;">{{ book.title|truncatechars:60 }}</h4>
          
          <p style="margin-bottom: 5px;">Authors: {{ book.authors|join:", " | truncatechars:60 }}</p>
          <p style="margin-bottom: 5px;">Published: {{ book.release_year }}</p>
          
        </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% endif %}