{% extends 'my_app/base.html' %}
{% load static %}
{% block content %}
  <main>
    <div style="color: #ebebeb;margin-left: 3%;" >
      <h2>Welcome to High Book</h2>
         <p>We provide quality book reviews for free. Browse trending and letest books here.</p>
    </div>
    <div class="cat-container">
        {% for category in categories %}
          <div class="cat">
            <div>
            {{category.name}}
            </div>
          </div>
          {% endfor %}
    </div>

         {% if books %}
         <div class="book-container">
           {% for book in books %}
           <div class="book"  >
            <a href="{% url 'book_detail' book_id=book.book_id %}">
            <div class="book-thumbnail">
              <img src="{{ book.thumbnail }}" alt="Book Thumbnail" style="width: 100px; height: 150px; object-fit: cover;">
            </div>
            </a>
            <a href="{% url 'book_detail' book_id=book.book_id %}">
            <div class="book-details" style="margin-left: 0px;padding: 5px;">
              <div>
              <h4 style="margin-top: 0; margin-bottom: 5px;color: rgb(154, 177, 197);">{{ book.title|truncatechars:30 }}</h4>
              </div>
              <div>
              <p style="margin-bottom: auto;">Authors: {{ book.authors|join:", " | truncatechars:30 }}</p>
              <p style="margin-bottom: auto;">Category: {{ book.category| join:", " }}</p>
              <p style="margin-bottom: auto;">Published: {{ book.release_year }}</p>
              </div>
            </div>
            </a> 
          </div> 
           {% endfor %}
         </div>
       {% else %}
         <p>No books found.</p>
       {% endif %}
       
       <style>
  .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book {
    display: flex;
    width: 440px;
    height: 200px;
    border-style: ridge;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background: linear-gradient(to right, #525b5b, #171c20);
    margin-top: 3%;
    
  }
  .book p{
    color:#ebebeb
  }
  .book a{
    text-decoration: none;
  }

       
         @media (max-width: 768px) {
           .book {
             width: 50%;
           }
         }
       
         @media (max-width: 480px) {
           .book {
             width: 100%;
           }
         }


    .cat-container{
      color: aliceblue;
      padding: 5% ;
      display: flex;
      flex-wrap: wrap;
      justify-content: baseline;


    }

    .cat {
      width: 200px;
      height: 40px;
      background: linear-gradient(to right, #233d3d, #090909);
      margin-left: 4%;
      margin-bottom: 3%;
      border-style: ridge;
      border-radius: 10%;
      font-size: large;
      font-weight: 300;
      align-items: center;
      text-align: center;
    }
       </style>
       
         
  </main>

  
{% endblock %}

