{% extends 'my_app/base.html' %}
{% load static %}
{% block content %}
  <main>
      <h2>Welcome to High Book</h2>
         <p>We provide quality book reviews for free. Browse our categories to find your next great read.</p>
         {% if books %}
         <div class="book-container">
           {% for book in books %}
           <div class="book"  >
            <a href="{% url 'book_detail' book_id=book.book_id %}">
            <div class="book-thumbnail">
              <img src="{{ book.thumbnail }}" alt="Book Thumbnail" style="width: 100px; height: 150px; object-fit: cover;">
            </div>
            </a>
            
            <div class="book-details" style="margin-left: 0px;padding: 5px;">
              <div>
              <h4 style="margin-top: 0; margin-bottom: 5px;color: #333;">{{ book.title|truncatechars:30 }}</h4>
              </div>
              <div>
              <p style="margin-bottom: 5px;">Authors: {{ book.authors|join:", " | truncatechars:30 }}</p>
              <p style="margin-bottom: 5px;">Category: {{ book.category| join:", " }}</p>
              <p style="margin-bottom: 5px;">Published: {{ book.release_year }}</p>
              </div>
            </div>
              
          </div> 
           {% endfor %}
         </div>
       {% else %}
         <p>No books found.</p>
       {% endif %}
       
       <style>
  .book-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: center;
  }

  .book {
    display: flex;
    width: 400px;
    height: auto;
    border-style: ridge;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background-color: rgb(194, 172, 172);
    
  }
       
         @media (max-width: 768px) {
           .book {
             width: 50%;
           }
         }
       
         @media (max-width: 480px) {
           .book {
             width: 100%;
           }
         }
       </style>
       
         
  </main>

  
{% endblock %}

