{% extends 'my_app/base.html' %}
{% load static %}
{% block content %}

    <div style="color:aliceblue">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="margin : 2%">
                    Join Today
                </legend>
            {{form.as_p}}
            </fieldset>
        <div class="form-group">
            <button style="margin:1%" type="submit">
            Sign Up
        </button></div>

        </form>
        <div class="border-top pt-3">
            <p>already hav an account ?
                <a href="#"> Sign In</a>
            </p>
        </div>
    </div> 


{% endblock content %}  